# Database
POSTGRES_DB=nestjs_rbac_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# for docker compose
DATABASE_URL="postgresql://postgres:password@postgres:5432/nestjs_rbac_db?schema=public"

# MongoDB (for audit logs)
# for docker compose
MONGODB_URI="mongodb://postgres:27017/nestjs-rbac-audit"


# for dev mode
MONGODB_URI="mongodb://localhost:27017/nestjs-rbac-audit"
# for dev mode
DATABASE_URL="postgresql://postgres:password@localhost:5432/nestjs_rbac_db?schema=public"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-here"
JWT_EXPIRES_IN="24h"

# Application
PORT=3000
NODE_ENV=development

# Swagger
SWAGGER_TITLE="NestJS RBAC API"
SWAGGER_DESCRIPTION="API documentation for NestJS Role-Based Access Control project"
SWAGGER_VERSION="1.0"

# Email Configuration
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="NestJS RBAC <noreply@yourdomain.com>"
FRONTEND_URL="http://localhost:3000/api/v1/auth/verify-email/"
